@page
@model FrontEnd2.Pages.NovedadesModel
@{
}
<h1>NOVEDADES</h1>
<form>
    <p>Estacion <input type="text" name="CodEstacion"></p>
    <p>Fecha <input type="date" name="FechaEstacion"></p>
    <p>Actuacion <input type="text" name="LongEstacion"></p>
    <p>Observacion <input type="text" name="MunEstacion"></p>
    <button type="submit" id="submit" class="clearfix btn">Guardar</button>
    <button type="button" class="clearfix btn" >Cancelar</button> 
</form>
