@page
@model FrontEnd2.Pages.NovedadesModel
@{
}
<link rel="stylesheet" href="style.css">
<h1>NOVEDADES</h1>
<section class="form-register2">

    <p><input class="controls" type="text" name="nombres" placeholder="Estacion"></p>
     <p><input class="controls" type="date" name="FechaEstacion" placeholder="Date"></p>
    <p><input class="controls" type="text" name="nombres" placeholder="Actuacion"></p>
    <p><input class="controls" type="text" name="nombres" placeholder="Observacion"></p>
     <button type="submit" id="submit" class="clearfix btn">Guardar</button>
    <button type="button" class="clearfix btn" >Cancelar</button> 
    
</section>
