@page
@model FrontEnd2.Pages.NovedadesModel
@{
}
<h1>NOVEDADES</h1>
<form>
    <p>Estacion <input type="text" name="CodEstacion"></p>
    <p>Fecha <input type="date" name="FechaEstacion"></p>
    <p>Actuacion <input type="text" name="LongEstacion"></p>
    <p>Observacion <input type="text" name="MunEstacion"></p>
    <p><input type="submit" value="Guardar"></p>
    <p><input type="submit" value="Cancelar"></p>
</form>
