@page
@model FrontEnd2.Pages.DatosHistoricosModel
@{
}


<section>

   <div  class="contenedorGeneral">
      <h3 class="tituloReportes">Reportes-Datos Históricos</h3>
         <br>
         <h2 class="tituloHistorico">HISTORICO DATOS METEREOLÓGICOS</h2>

         <form class="formularioEstaciones">
            <ul class="ulFormulario">
               <li class="elementoFormulario">
                 <label class="label labelEstacion" name="estacion">Estación:</label>
                    <select class="input" name="estacion">
                        <option value="" selected="selected" disabled>Seleccione</option> 
                        <option value="1">Estación termopluviométrica</option> 
                        <option value="2">Estación evaporimétrica</option> 
                        <option value="3">Estación metereológica automática</option>                      
                  </select>
               </li>
                  
               <li class="elementoFormulario">  
                  <div class="divFechas">   
                     <label class="label" for="fechaInicio">Fecha inicio: </label>
                     <input class="input" type="date" name="fechaInicio" /> 
                     <label class="label" for="fechaInicio">Fecha fin:</label>
                     <input class="input"type="date" name="fechaInicio" />        
                  </div>
               </li>

               <li class="elementoFormulario">
                  <div class="divBotones">
                     <button class="botonesFormuEstac" type="submit">Generar</button>
                     <button class="botonesFormuEstac" type="submit">Cancelar</button>
                  </div>
               </li>

            </ul>

         </form>

   </div>
</section>
