@page
@model FrontEnd2.Pages.CrearUsuariosModel
@{
}
<h1>CREAR NUEVO USUARIO</h1>
<form>
    <p>Identificacion <input type="text" name="CodPersona"></p>
    <p>Nombres <input type="text" name="LatPersona"></p>
    <p>Apellidos <input type="text" name="LongPersona"></p>
    <p>Cargo <input type="text" name="MunPersona"></p>
    <p>Genero <input type="text" name="MunPersona"></p>
    <button type="submit" id="submit" class="clearfix btn">Guardar</button>
	<button type="button" class="clearfix btn" >Cancelar</button> 
</form>
